<% include ../partials/header %>
<div class="uploadimagehere">
  <a href="/main">BACK HOME</a>
</div>
<div class="container">
  <div class="showoneimg">
    <img src="<%= id.img %>">
  </div>
  
  <div class="descriptionbox">
    <%= id.content %>
  </div>
</div>

<% include ../partials/footer %>